In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

def read_data_from_csv():
    comments=pd.read_csv('comments.csv')
    return comments


def data_cleaning():
    #DO NOT REMOVE FOLLOWING LINE
    #call remove_unwanted_columns() function to get dataframe
    comments=read_data_from_csv()

    #Remove Unwanted columns
    unwanted_columns = ['posted date','emoji used','Hashtags used count']
    comments = comments.drop(unwanted_columns, axis = 1)
    
    
    
    #rename columns, only these columns are allowed in the dataset
    # 1.	id
    # 2.	comment_text
    # 3.	user_id
    # 4.	photo_id
    # 5.	created_at
    columns_name = {'id':'id',
                   'comment':'comment_text',
                    'User  id':'user_id',
                    'Photo id':'photo_id',
                    'created Timestamp':'created_at'
                   }
    comments = comments.rename(columns = columns_name)
    
    
    #export cleaned Dataset to newcsv file named "comments_cleaned.csv"
    comments.to_csv('comments_cleaned.csv')
    return comments


#Do not Delete the Following function
def task_runner():
    data_cleaning()

task_runner()

In [2]:
data_cleaning().reset_index(drop = True,inplace = True)

In [3]:
data_cleaning()

        id            comment_text  user_id  photo_id        created_at
0        1         unde at dolorem        2         1  13-04-2023 08:04
1        2         quae ea ducimus        3         1  13-04-2023 08:04
2        3      alias a voluptatum        5         1  13-04-2023 08:04
3        4    facere suscipit sunt       14         1  13-04-2023 08:04
4        5  totam eligendi quaerat       17         1  13-04-2023 08:04
...    ...                     ...      ...       ...               ...
7483  7484       accusamus vel est       82       257  13-04-2023 08:04
7484  7485           sit nulla qui       91       257  13-04-2023 08:04
7485  7486        sed quidem vitae       93       257  13-04-2023 08:04
7486  7487   dolorem eveniet rerum       95       257  13-04-2023 08:04
7487  7488  dolores nihil voluptas       96       257  13-04-2023 08:04

[7488 rows x 5 columns]

In [ ]:
data_cleaning().info()

In [ ]:
data_cleaning()['comment_text'].unique()

In [ ]:
data_cleaning()['comment_text'].dtype

In [ ]:
data_cleaning()['user_id'].unique()

In [ ]:
data_cleaning()['photo_id'].unique()

In [ ]:
data_cleaning()['created_at'].unique()

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
import time
import pymysql

def timing_decorator(func):
    def wrapper (*args,**kwargs):
        start_time = time.time()
        result = func(*args,**kwargs)
        end_time = time.time()
        print(f"the Execution time {end_time - start_time} seconds")
        return result
    return wrapper

conn = create_engine("mysql+pymysql://root:THIru980@localhost:3306/instagrame")

@timing_decorator
def load_csv_with_pandas():
    data = pd.read_csv('comments_cleaned.csv')
    data.to_sql("comments",conn, if_exists = "append",chunksize = 100, index = False)
    
load_csv_with_pandas()