In [ ]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

def read_data_from_csv():
    users=pd.read_csv('users.csv')
    return users

In [ ]:
read_data_from_csv().columns

In [ ]:
def data_cleaning():
    #DO NOT REMOVE FOLLOWING LINE
    #call remove_unwanted_columns() function to get dataframe
    users=read_data_from_csv()

    #Remove Unwanted columns
    unwanted_columns = ['private/public', 'post count','Verified status']
    users = users.drop(unwanted_columns, axis = 1)
    
    
    
    
    #rename columns, only these columns are allowed in the dataset
    # 1.	id
    # 2.	username
    # 3.	created_at
    columns_name = {'id':'id', 
                    'name':'username',
                    'created time':'created_at'
                   }
    users = users.rename(columns_name)
    return users

In [ ]:
data_cleaning()

In [4]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

def read_data_from_csv():
    users=pd.read_csv('users.csv')
    return users


def data_cleaning():
    #DO NOT REMOVE FOLLOWING LINE
    #call remove_unwanted_columns() function to get dataframe
    users=read_data_from_csv()

    #Remove Unwanted columns
    unwanted_columns = ['private/public', 'post count','Verified status']
    users = users.drop(unwanted_columns, axis = 1)
    
    
    
    
    #rename columns, only these columns are allowed in the dataset
    # 1.	id
    # 2.	username
    # 3.	created_at
    columns_name = {'id':'id', 
                    'name':'username',
                    'created time':'created_at'
                   }
    users = users.rename(columns = columns_name)
    
    #export cleaned Dataset to newcsv file named "users_cleaned.csv"
    users.to_csv('users_cleaned.csv')
    return users


#Do not Delete the Following function
def task_runner():
    data_cleaning()

task_runner()

In [5]:
 data_cleaning()

     id              username        created_at
0     1         Kenton_Kirlin  16-02-2017 18:22
1     2         Andre_Purdy85  02-04-2017 17:11
2     3         Harley_Lind18  21-02-2017 11:12
3     4         Arely_Bogan63  13-08-2016 01:28
4     5         Aniya_Hackett  07-12-2016 01:04
..  ...                   ...               ...
95   96  Keenan.Schamberger60  28-08-2016 14:57
96   97        Tomas.Beatty93  11-02-2017 11:38
97   98       Imani_Nicolas17  31-01-2017 22:59
98   99          Alek_Watsica  10-12-2016 07:43
99  100             Javonte83  27-03-2017 22:06

[100 rows x 3 columns]

In [6]:
import pandas as pd
from sqlalchemy import create_engine
import time
import pymysql

def timing_decorator(func):
    def wrapper (*args,**kwargs):
        start_time = time.time()
        result = func(*args,**kwargs)
        end_time = time.time()
        print(f"the Execution time {end_time - start_time} seconds")
        return result
    return wrapper

conn = create_engine("mysql+pymysql://root:THIru980@localhost:3306/instagrame")

@timing_decorator
def load_csv_with_pandas():
    data = pd.read_csv('users_cleaned.csv')
    data.to_sql("users",conn, if_exists = "append",chunksize = 100, index = False)
    
load_csv_with_pandas()

the Execution time 0.7363612651824951 seconds